<form class="book-form" [formGroup]='bookForm' >
        <div>
            <label for="id">Book Id</label>
            <input formControlName="id" type="text" required>
            <p class="error-msg" *ngIf="this.bookForm.get('id').invalid && this.bookForm.get('id').touched">Enter book title!</p>
        </div>
    <div formGroupName="volumeInfo">
            <div>
                <label for="title">Title</label>
                <input formControlName="title" type="text" required>
                <p class="error-msg" *ngIf="this.bookForm.get('volumeInfo.title').invalid && this.bookForm.get('volumeInfo.title').touched">Enter book title!</p>
            </div>
            <div formArrayName="authors">
                <h3>Authors</h3>
                <div class="authors-btns">
                    <button (click)="this.addAuthors()">Add Authors</button>
                    <button (click)="this.removeAuthors()">Remove Authors</button>
                </div> 
                <div *ngFor="let author of authors?.controls; let i=index">
                  <label>Author:</label>
                    <input type="text" [formControlName]="i">
                </div>      
            </div>
                <div>
                    <label for="publisher">Publisher</label>
                    <input formControlName="publisher" id="publisher" type="text">
                    <p class="error-msg" *ngIf="this.bookForm.get('volumeInfo.publisher').invalid && this.bookForm.get('volumeInfo.publisher').touched">Enter book title!</p>
                </div>
                <div>
                    <label for="publishedDate">Release Date</label>
                    <input formControlName="publishedDate" type="text">
                    <p class="error-msg" *ngIf="this.bookForm.get('volumeInfo.publishedDate').invalid && this.bookForm.get('volumeInfo.publishedDate').touched">Enter book title!</p>
                </div>
                <div>
                    <label for="pageCount">Page Count</label>
                    <input formControlName="pageCount" type="text">
                    <p class="error-msg" *ngIf="this.bookForm.get('volumeInfo.pageCount').invalid && this.bookForm.get('volumeInfo.pageCount').touched">Enter book title!</p>
                </div>
            <div formGroupName="imageLinks">
                <div>
                    <label for="thumbnail">Image Links</label>
                    <input formControlName="thumbnail" type="text">
                    <p class="error-msg" *ngIf="this.bookForm.get('volumeInfo.imageLinks.thumbnail').invalid && this.bookForm.get('volumeInfo.imageLinks.thumbnail').touched">Enter book title!</p>
                </div>
            </div>
    </div>
    <div class="book-form-submitter">
        <button id="bookUpdator" [disabled]="bookForm.invalid" (click)='submitEditBookForm()'>Submit</button>
    </div>
</form>