.book-form{
    width: 40%;
    margin: 0 auto;
}

.book-form div{
    display: flex;
    flex-direction: column;
}

.book-form input{
    padding: 0.5rem;
}

.book-form button{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.authors-btns{
    flex-direction: row !important;
    justify-content: space-between;
}

.authors-btns button{
    width: 5rem;
}

.book-form-submitter{
    display: flex;
    margin: 1rem auto;
}

#bookUpdator{
    width: 5rem;
    margin: auto;
}

@media screen and (max-width: 960px){
    .book-form{
        width: 60%;
    }
}

@media screen and (max-width: 480px){
    .book-form{
        width: 80%;
    }
}