<section class="book-details-section">
    <div class="book-thumbnail">
        <img class="book-details-img" [src]="this.book?.volumeInfo?.imageLinks?.small || this.book?.volumeInfo?.imageLinks?.smallThumbnail 
        || this.book?.volumeInfo?.imageLinks?.medium" alt="book-image"
        onerror="this.onerror=null;this.src='https://cdn.blankstyle.com/files/imagefield_default_images/notfound_0.png';"
        />
    </div>
    <div class="book-info">
        <h2>{{this.book?.volumeInfo?.title}}</h2>
        <p>Released: {{book?.volumeInfo?.publishedDate || 'unknown'}}<p>
        <p>Authors: {{book?.volumeInfo?.authors  || 'unknown'}}</p>
        <p>Saleability: {{book?.saleInfo | saleFactor}}</p>
        <p>Publisher: {{book?.volumeInfo?.publisher || 'unknown'}}</p>
        <p>Published Date: {{book?.volumeInfo?.publishedDate || 'unknown'}}</p>
        <p>Categories: {{book?.volumeInfo?.categories || 'unknown'}}</p>
        <p>Page Count: {{book?.volumeInfo?.pageCount || 'unknown'}}</p>
        <p>Rating: {{book?.volumeInfo?.averageRating || 'unknown'}}</p>
    </div>
</section>
<section class="book-description">
    <h3>Description</h3>
    <p>
        {{this.description || 'unknown'}}
    </p>
    <div *ngIf="this.book?.accessInfo.pdf.isAvailable">
        <a *ngIf="this.link" [href]="this.link">Download</a>
    </div>
</section>



