<div class="wrapper">
<div class="ads-container a"></div>
<div class="middle">
    <div class="filters">
    <div>
        <button (click)="handleResults()">Show results</button>
        <select name="search-results" id="searchResults">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>
    <div>
        <button (click)="orderBy()">Apply sort filters</button>
        <select name="order-by" id="orderBy">
            <option value="relevance">Relevance</option>
            <option value="newest">Newest</option>
        </select>
    </div>
    <div>
        <button (click)="filterByAccess()">Filter by access type</button>
        <select name="access-type" id="accessType">
            <option value="partial">Partial</option>
            <option value="full">Full</option>
            <option value="free-ebooks">Free-ebooks</option>
            <option value="paid-ebooks">Paid-ebooks</option>
            <option value="ebooks">Ebooks</option>
        </select>
    </div>
    <div>
        <button (click)="filterByPrinting()">Filter by print type</button>
        <select name="print-type" id="printType">
            <option value="all">All</option>
            <option value="books">Books</option>
            <option value="magazines">Magazines</option>
        </select>
    </div>
    <div>
        <button (click)="combineParameters()" id="filter-aggregate-btn">Apply all filters</button>
    </div>
</div>
<div class="books-wrapper"  *ngFor="let book of foundBooks">
    <div  *ngIf="book">
        <div [routerLink]="['/book-details/' + book.id]" class="current-book-wrapper">
            <app-book [book]="book"></app-book>
        </div>
    </div>
</div>
</div>
<div class="ads-container b"></div>
</div>