<div class="wrapper">
<div class="ads-container c">
</div>
    <div class="my-books-wrapper">
        <div class="my-books-intro">
            <button [routerLink]="['/book-form']">Add Book</button>
        </div>
        <div class="books-wrapper"  *ngFor="let book of books">
            <div class="my-book" *ngIf="book">
                <app-book [book]="book"></app-book>
                <div class="books-wrapper-btns">
                    <button [routerLink]="['/book-form/' + book.id]">Edit</button>
                    <button (click)="this.deleteBook(book.id)">Delete</button>
                </div>
            </div>
    </div>
</div>
<div class="ads-container d">
</div>
</div>

